.tp-container {
  margin-top: 57px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2A56A8;
}

.centervertical {
  display: flex;
  align-items: center;
}

.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 100px;
}
.contentclass {
  background: white;
}

